In [1]:
import numpy as np
import pandas as pd

In [2]:
d_f = pd.read_csv('Book-01.csv')

In [3]:
df = d_f[['Business Travel', 'CF_age band', 'CF_attrition label','Gender','Marital Status']]

In [4]:
df[df=="Ex-Employees"]="Yes"
df[df=="Current Employees"]="No"

C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1766032321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df=="Ex-Employees"]="Yes"
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1766032321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df=="Ex-Employees"]="Yes"
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1766032321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df=="Current Employees"]="No"
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1766032321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df=="Current Employees"]="No"

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
df.head()

     Business Travel CF_age band CF_attrition label  Gender Marital Status
0      Travel_Rarely     35 - 44                Yes  Female         Single
1  Travel_Frequently     45 - 54                 No    Male        Married
2      Travel_Rarely     35 - 44                Yes    Male         Single
3  Travel_Frequently     25 - 34                 No  Female        Married
4      Travel_Rarely     25 - 34                 No    Male        Married

In [7]:
le_bt = LabelEncoder()
le_ab = LabelEncoder()
le_al = LabelEncoder()
le_gen = LabelEncoder()
le_ms = LabelEncoder()

In [8]:
df['Business Travel'] = le_bt.fit_transform(df['Business Travel'])
df['CF_age band'] = le_ab.fit_transform(df['CF_age band'])
df['CF_attrition label'] = le_al.fit_transform(df['CF_attrition label'])
df['Gender'] = le_gen.fit_transform(df['Gender'])
df['Marital Status'] = le_ms.fit_transform(df['Marital Status'])

C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\4263067045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Business Travel'] = le_bt.fit_transform(df['Business Travel'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\4263067045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CF_age band'] = le_ab.fit_transform(df['CF_age band'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\4263067045.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CF_attrition label'] = le_al.fit_transform(df['CF_attrition label'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\4263067045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = le_gen.fit_transform(df['Gender'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\4263067045.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Marital Status'] = le_ms.fit_transform(df['Marital Status'])

In [9]:
df.head()

   Business Travel  CF_age band  CF_attrition label  Gender  Marital Status
0                2            1                   1       0               2
1                1            2                   0       1               1
2                2            1                   1       1               2
3                1            0                   0       0               1
4                2            0                   0       1               1

In [10]:
# Performing Inverse Transform
df['Business Travel'] = le_bt.inverse_transform(df['Business Travel'])
df['CF_age band'] = le_ab.inverse_transform(df['CF_age band'])
df['CF_attrition label'] = le_al.inverse_transform(df['CF_attrition label'])
df['Gender'] = le_gen.inverse_transform(df['Gender'])
df['Marital Status'] = le_ms.inverse_transform(df['Marital Status'])

C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1078377049.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Business Travel'] = le_bt.inverse_transform(df['Business Travel'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1078377049.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CF_age band'] = le_ab.inverse_transform(df['CF_age band'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1078377049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CF_attrition label'] = le_al.inverse_transform(df['CF_attrition label'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1078377049.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = le_gen.inverse_transform(df['Gender'])
C:\Users\Bilawal\AppData\Local\Temp\ipykernel_12576\1078377049.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Marital Status'] = le_ms.inverse_transform(df['Marital Status'])

In [11]:
df.head()

     Business Travel CF_age band CF_attrition label  Gender Marital Status
0      Travel_Rarely     35 - 44                Yes  Female         Single
1  Travel_Frequently     45 - 54                 No    Male        Married
2      Travel_Rarely     35 - 44                Yes    Male         Single
3  Travel_Frequently     25 - 34                 No  Female        Married
4      Travel_Rarely     25 - 34                 No    Male        Married